.Cart {
    background-color: rgb(188, 218, 228);
    padding-top: 140px;
    min-height: 100vh;

}

.Cart .col5 {
    flex-basis: 30%;
}

.Cart .col1 {
    flex-basis: 70%;
}

.Cart .content {
    padding: 40px;
    width: 100%;
}

.Cart .tableHead {
    background-color: rgb(57, 79, 104);
    height: 60px;
    border-radius: 89px 89px 0px 0px;
    box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.3);
    position: relative;
}

.Cart .table {
    background-color: rgb(224, 224, 224);
    padding: 30px;
    text-align: end;
}

.Cart .tableFoot {
    background-color: rgb(57, 79, 104);
    height: 60px;
    border-radius: 0px 0px 89px 89px;
    box-shadow: 0px -10px 20px -3px rgba(0, 0, 0, 0.3);
}

.Cart .total {
    font-size: 25px;
}