.home {
    background-color: rgb(188, 218, 228);
    padding-top: 90px;
}

.home .products {
    width: 100%;
    padding: 50px 100px;
}

.home .products .row {
    justify-content: center;
}

@media only screen and (max-width:1400px) {
    .home .products {
        width: 100%;
        padding: 50px 10px;
    }
}

@media only screen and (max-width:1000px) {
    .home .products {
        width: 100%;
        padding: 50px 5px;
    }
}

@media only screen and (max-width:800px) {
    .home .products {
        width: 100%;
        padding: 0;
    }
}