.products {
    background-color: rgb(188, 218, 228);
    padding-top: 170px;
    padding-bottom: 110px;
}

.products .row {
    justify-content: center;
}

.products .col6 {
    flex-basis: 20%;
    justify-content: center;

}

.products .col2 {
    flex-basis: 80%;
    justify-content: start;

}

.products .prodcat {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.products .prodcat button {
    border-radius: 0;
}

@media only screen and (max-width:1600px) {
    .products .smCon {
        width: 90%;
    }
}

@media only screen and (max-width:1350px) {
    .products .smCon {
        width: 100%;
    }
}

@media only screen and (max-width:650px) {
    .products .col6 .prodcat {
        flex-direction: row;
        width: 100%;
    }

    .products .col6 .prodcat button {
        padding: 10px 30px;
    }

    .products .col6 {
        flex-basis: 90%;

    }



    .products .col2 {
        flex-basis: 90%;
        justify-content: center;

    }
}

@media only screen and (max-width:390px) {
    .products .col6 .prodcat button {
        padding: 10px 10px;
    }
}