.register {
    background-color: rgb(188, 218, 228);
}

.register .row {
    justify-content: center;
    padding: 20px 0;
}

.register .mdCon {
    padding: 130px 0;
}

.register .choose {
    transform: translateY(10px);
    position: absolute;
    cursor: pointer;
    transition: .1s ease;

}

.register .choose:hover {
    font-size: 17px;


}

.register .idIcon {
    margin: 0 10px;
}

.register .title {
    background-color: rgb(44, 123, 189);
    padding-left: 15px;
    padding-bottom: 12px;
    transform: translateY(10%);
    border-radius: 10px 10px 0px 0px;
    color: rgb(255, 255, 255);

}

.register .choose {
    display: flex;
    align-items: center;
}

.register .choose .select {
    margin: 5px;
    color: rgb(29, 54, 77);
}

.register .sellertitle {
    background-color: rgb(43, 114, 70);
}

.register .name,
.address,
.contact,
.password {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.register .card {
    transform: translateZ(0);
    box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.26);
    transition: .2s ease;
}

.register .card:focus-within {
    transform: scale(1.02);
}

.register .nameTxt {
    flex-basis: 49%;
}

.register .email {
    flex-basis: 60%;
}

.register .mobile {
    flex-basis: 38%;
}

.register input {
    margin: 12px 0;
}

.register .footer {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.register .divider {
    width: 90%;
}

.register .emailAlert {
    position: absolute;
    font-size: 12px;
    transform: translateY(-35%);
    color: brown;
}

@media only screen and (max-width:1320px) {
    .register .col3 {
        flex-basis: 60%;
    }
}

@media only screen and (max-width:900px) {
    .register .col3 {
        flex-basis: 76%;
    }
}

@media only screen and (max-width:700px) {
    .register .col3 {
        flex-basis: 95%;
    }
}

@media only screen and (max-width:500px) {
    .register .col3 {
        flex-basis: 100%;
    }

    .register .nameTxt {
        flex-basis: 100%;
    }

    .register .email {
        flex-basis: 100%;
    }

    .register .mobile {
        flex-basis: 100%;
    }

    .register input {
        padding: 10px 10px;
        margin: 7px 0;
        font-size: 12px;
    }
}