.search {
    background-color: rgb(188, 218, 228);
    padding-top: 150px;
}

@media only screen and (max-width: 1500px) {
    .search .result {
        flex-basis: 25%;
    }
}

@media only screen and (max-width: 1300px) {
    .search .smCon {
        width: 90%;
    }
}

@media only screen and (max-width: 1100px) {
    .search .col5 {
        flex-basis: 33%;
    }
}

@media only screen and (max-width: 900px) {
    .search .col5 {
        flex-basis: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .search .col5 {
        flex-basis: 50%;
    }

    .search h2 {
        font-size: 30px;
    }

    .result .content {
        padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .search .col5 {
        flex-basis: 100%;
    }
}