.filter li {
    display: flex;
    margin: 10px 0;

}



.filter .col5 {
    flex-basis: 20%;
}

.filter .col2 {
    flex-basis: 80%;
}

.filter li input {
    margin: 0 10px;
}

.filter .content {
    padding: 20px;
}

.filter li label {
    margin: 0 10px;
}

.filter button {
    border-radius: 0;
    padding: 10px 20px;
}

.filter .first {
    border-radius: 13px 0px 0px 13px;
}

.filter .last {
    border-radius: 0px 13px 13px 0px;
}


@media only screen and (max-width:900px) {
    .filter {
        display: flex;
    }

    .filter .smCon {
        flex-basis: 90%;

    }

    .filter .content {
        padding: 10px;
    }

    .filter .col5 {
        flex-basis: 25%;
    }
}

@media only screen and (max-width:650px) {
    .filter .col5 {
        flex-basis: 33%;
    }
}

@media only screen and (max-width:550px) {
    .filter button {
        padding: 10px 10px;
    }

    .filter .col5 {
        flex-basis: 50%;
    }
}

@media only screen and (max-width:380px) {
    .filter button {
        padding: 10px 5px;
    }

    .filter .smCon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .filter .col1 {
        justify-content: center;
    }

    .filter {
        display: flex;
        justify-content: center;
    }
}