.filter {
    flex-basis: 20%;
    justify-content: center;
}

.filter li {
    display: flex;
    margin: 10px 0;
}

.filter li input {
    margin: 0 10px;
}

.filter li label {
    margin: 0 10px;
}

@media only screen and (max-width:830px) {
    .filter {
        display: none;
    }
}