.foot {
    background-color: black;
    color: #fff;
    padding: 30px 0;
}

.foot .col3 {
    justify-content: center;
}

.foot .content {
    justify-content: center;
    text-align: center;
    line-height: 60px;
}