.listings .content {
    padding: 20px;
}

.listings button {
    padding: 10px;
    margin-right: 5px;
}

.listings .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
}

.listings .remove {
    background-color: brown;
}