.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;

}

.navbar h2 {
    font-size: 30px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar .mobileNavToggle {
    display: none;
}

.navbar li {
    margin: 0 8px;
    display: flex;
    align-items: center;
}

.navbar .link {
    margin: 0 10px;
    color: #555;

}

.navbar input {
    padding: 5px 10px;
    border-radius: 12px 0px 0px 12px;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.39);
}

.navbar li button {
    border-radius: 0px 12px 12px 0px;
    padding: 8px 6px;
    font-size: 12px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.39);
}

.navbar .row {
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .regBtn {
    padding: 7px 6px;
    margin: 0 5px;
}

.navbar .fontIcons {
    font-size: 20px;
    color: rgb(202, 81, 33);
}

.navbar .mobileNav {
    display: none;
}

.navbar .toggler {
    display: none;
}



@media only screen and (max-width:1430px) {


    .navbar .desktopNav {
        display: none;
    }

    .navbar .mobileNav {
        display: block;
        position: absolute;

        display: flex;
        flex-direction: column;
        width: 50%;
        top: 90%;
        padding: 1 0px 0px;
        right: 2%;
        border-radius: 10px;
        background-color: rgb(65, 94, 119);
        justify-content: center;
    }

    .navbar .toggler {
        display: block;
        position: absolute;
        right: 3%;
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 0;
        font-size: 40px;
        color: rgb(46, 112, 138);
        background-color: transparent;
        cursor: pointer;
    }

    .navbar .logform {
        display: none;
    }

    .navbar .mobileNav li {
        margin: 20px 0;
    }

    .navbar .mobileNav .link {
        color: #fff;
    }
}

@media only screen and (max-width:1100px) {


    .navbar .mdCon {
        flex-basis: 100%;
        width: 94%;
    }










}