.orderhistory .details {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.orderhistory .details .left {
    display: flex;
    align-items: center;

    flex-basis: 50%;
}

.orderhistory .details .right {
    display: flex;
    align-items: center;
    justify-content: end;

    flex-basis: 50%;
}

.orderhistory .details .right h3,
.orderhistory .details .right h4,
.orderhistory .details .right button {
    margin: 0 10px;
}

.orderhistory h3,
.orderhistory img {
    cursor: pointer;
}

.orderhistory button {
    padding: 7px 20px;
}

.orderhistory .remove {
    background-color: rgb(128, 50, 67);
}

.orderhistory .checkout {
    background-color: rgb(129, 160, 83);
}

.orderhistory img {
    width: 15%;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

.orderhistory img:hover {
    transform: scale(1.03);
}

@media only screen and (max-width: 650px) {
    .orderhistory img {
        width: 20%;
        border-radius: 10px;
        margin: 0 15px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        transition: .2s;
    }

    .orderhistory h3,
    .orderhistory h4 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 550px) {
    .orderhistory .details {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .orderhistory .details .left {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-basis: 100%;
    }

    .orderhistory .details .left img {
        margin: 20px 0;
        width: 80%;
    }

    .orderhistory .details .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
    }

    .orderhistory .details .right .text {
        display: flex;
        margin: 10px 0;
    }

    .orderhistory h3,
    .orderhistory h4 {
        font-size: 20px;
    }

    .orderhistory .divider {
        width: 70%;
    }

    .orderhistory {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }
}