.prodcat {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 50px;

}

.prodcat button {
    border-radius: 0;
}

.prodcat .first {
    border-radius: 18px 18px 0px 0px;
}

.prodcat .last {
    border-radius: 0px 0px 18px 18px;
}

@media only screen and (max-width:1450px) {
    .prodcat {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 20px;

    }
}