.productsView {
    background-color: rgb(188, 218, 228);
    padding-top: 110px;
}

.productsView h2 {
    font-size: 30px;
}

.productsView .content {
    padding: 60px;
}

.productsView .quantity {
    display: flex;
}

.productsView .quantity h2 {
    margin: 0 20px;
}

.productsView .quantity button {
    padding: 10px 15px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.productsView .product .desc {
    margin: 10px 0;
    line-height: 40px;
}

.productsView .product .stock {
    margin: 10px 0;
}

.productsView .buyBtn {
    padding: 10px 60px;
    margin: 10px 0;
}

.productsView .divider {
    background-color: rgb(54, 82, 109);
}

.productsView .alert {
    color: rgb(128, 55, 55);
}

@media only screen and (max-width: 1300px) {
    .productsView .smCon {
        width: 100%;
    }


}

@media only screen and (max-width: 950px) {
    .productsView .content {
        padding: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .productsView .row {
        flex-direction: column;
    }

    .productsView .content {
        padding: 0 60px;
    }
}

@media only screen and (max-width: 500px) {
    .productsView .row {
        flex-direction: column;
    }

    .productsView .content {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 400px) {
    .productsView .product h1 {
        font-size: 35px;
    }

    .productsView .product h2 {
        font-size: 20px;
    }
}