@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@500;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img {

  width: 100%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {}

h4 {}

h5 {
  font-size: 17px;


}

h6 {}

p {
  font-size: 15px;
  line-height: 25px;
  color: rgb(83, 83, 83);
}

.link {
  text-decoration: none;
}

li {
  list-style: none;
}

.lgCon {
  width: 100%;
}

.mdCon {
  width: 80%;
  margin: 0 auto;
}

.smCon {
  width: 75%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.minirow {
  display: flex;
  flex-wrap: wrap;
}

.col1 {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col2 {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}

.col3 {
  flex-basis: 33%;
  display: flex;
  flex-wrap: wrap;
}

.col4 {
  flex-basis: 25%;
  display: flex;
  flex-wrap: wrap;
}

.col5 {
  flex-basis: 20%;
  display: flex;
  flex-wrap: wrap;
}

.col6 {
  flex-basis: 16%;
  display: flex;
  flex-wrap: wrap;
}

button {
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  color: #fff;
  background-color: rgb(24, 83, 131);
  cursor: pointer;
  transition: .1s ease;
}

.inactive {
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  color: #fff;
  background-color: rgb(54, 54, 54);
  cursor: pointer;
  transition: .1s ease;
  cursor: default;
}

.inactive:hover {
  transform: scale(1);
  background-color: rgb(54, 54, 54);

}

button:hover {
  transform: scale(1.05);
  background-color: rgb(27, 52, 73);
}

button:active {
  transform: scale(1);
}

.divider {
  height: 1px;
  background-color: rgb(180, 189, 197);
  width: 100%;
  margin: 20px 0;
}

.h-divider {
  width: 1px;
  height: 100%;
  margin: 0 40px;
  background-color: rgb(121, 132, 143);
}

input {
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
  border: 1px solid rgb(165, 175, 179);
  padding: 12px 15px;
  font-size: 15px;
  outline: none;
}


.card {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: center;
  width: 100%;

}

.star {
  color: rgb(223, 96, 37);
}


@media only screen and (max-width:1100px) {}


@media only screen and (max-width:900px) {}

@media only screen and (max-width:600px) {}